@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$ingredientsColor: #3282F7;
$applicancesColor: #68D9A4;
$ustensilsColor: #ED6454;
body {
    margin: 0;
    max-width: 1920px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


/* Header */

.header {
    width: 90%;
    margin: 30px auto;
    .header_logo {
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }
    .header_search_bar {
        margin: 20px 0 0 0;
        position: relative;
        .header_search_bar_input {
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            border: none;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            outline: none;
            background: #E7E7E7;
            &::placeholder {
                color: rgba($color: #000000, $alpha: 0.25);
            }
        }
        .header_search_bar_icon {
            position: absolute;
            right: 15px;
            top: 13px;
            display: block;
            cursor: pointer;
        }
    }
    .header_search {
        .header_search_filter {
            margin: 20px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: max-content;
            padding: 10px 20px;
            border-radius: 5px;
            background: #3282F7;
            color: #fff;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 14px;
            .header_search_filter_close {
                margin: 0 0 0 10px;
                cursor: pointer;
            }
        }
    }
}

.main {
    margin: 0 auto;
    /* Filters */
    .filters {
        width: 90%;
        margin: 0 auto;
        .filters_categories {
            .filters_categories_item {
                position: relative;
                margin: 20px 0;
                .filters_categories_item_input_arrow {
                    position: absolute;
                    top: 25px;
                    right: 15px;
                    transform: rotate(0deg);
                    transition-duration: 0.2s;
                }
                &[data-active=true] .filters_categories_item_input_arrow {
                    transform: rotate(180deg);
                    transition-duration: 0.2s;
                }
                &[data-active=false] .filters_categories_item_input::placeholder {
                    color: #fff;
                }
                &[data-active=true] .filters_categories_item_input::placeholder {
                    color: rgba($color: #fff, $alpha: 0.5);
                }
                &[data-active=true] .filters_categories_item_input {
                    border-radius: 5px 5px 0 0;
                }
                .filters_categories_item_input {
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    padding: 20px;
                    font-family: "Lato", sans-serif;
                    font-weight: bold;
                    color: #fff;
                    box-sizing: border-box;
                }
                .filters_categories_item_lists {
                    display: none;
                    .filters_categories_item_list {
                        border-radius: 0 5px 5px 5px;
                        padding: 15px;
                        list-style-type: none;
                        margin: 0;
                        width: 100%;
                        .filters_categories_item_list_item {
                            white-space: nowrap;
                            color: #fff;
                            font-family: "Lato", sans-serif;
                            width: 100%;
                            cursor: pointer;
                            transition: 0.2s;
                            user-select: none;
                            &:hover {
                                transition: 0.2s;
                                transform: scale(1.03);
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .filters_selecteds {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0 0 30px 0;
            .filters_selecteds_filter {
                padding: 5px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                border-radius: 5px;
                font-family: "Lato", sans-serif;
                color: #fff;
            }
        }
        .ingredients {
            background: $ingredientsColor;
        }
        .appliances {
            background: $applicancesColor;
        }
        .ustensils {
            background: $ustensilsColor;
        }
    }
    .recipes {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        &[data-active=true] {
            display: block;
        }
        .recipes_not_found {
            color: lightgray;
            border-radius: 5px;
            text-align: center;
            font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            width: 50%;
            margin: 0 auto;
        }
        .recipes_card {
            max-width: 425px;
            .recipes_card_image {
                width: 100%;
                height: 200px;
                border-radius: 5px 5px 0 0;
                background: lightgray;
            }
            .recipes_card_body {
                padding: 20px;
                border-radius: 0 0 5px 5px;
                background: #E7E7E7;
                .recipes_card_body_name {
                    margin: 0;
                    font-family: "Lato", sans-serif;
                    font-weight: 400;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 200px;
                }
                .recipes_card_body_inline {
                    display: flex;
                    justify-content: space-between;
                    .recipes_card_body_time {
                        display: flex;
                        justify-content: space-between;
                        .recipes_card_body_time_count {
                            margin: 0 0 0 5px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                    .recipes_card_body_about_description {
                        font-family: "Lato", sans-serif;
                        font-size: 0.9rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 100px;
                    }
                }
                .recipes_card_body_about {
                    padding: 0 20px 0 0;
                    list-style: none;
                    .recipes_card_body_about_item {
                        font-family: "Lato", sans-serif;
                        white-space: nowrap;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {
        .filters {
            .filters_categories {
                display: flex;
                gap: 20px;
                .filters_categories_item {
                    margin: 0;
                    .filters_categories_item_lists {
                        position: absolute;
                        .filters_categories_item_list {
                            display: grid;
                            column-gap: 15px;
                            row-gap: 5px;
                            grid-template-columns: repeat(3, 1fr);
                        }
                    }
                }
            }
        }
        .recipes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            .recipes_card {
                max-width: none;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .main .recipes {
        grid-template-columns: repeat(3, 1fr);
    }
}